{% assign misc = site.data.data.misc %}
{% if misc %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-fire fa-stack-1x fa-inverse"></i>
    </span>
    {{ misc.title }}
  </h2>

  {% if misc.intro %}
  <div class="intro">
      <p>{{ misc.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for miscItem in misc.items %}
    <div class="item">


      <p class="project-tagline">- {{ miscItem.tagline }}</p>

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
