@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }

   .main-wrapper {
      padding: 0;

      .time {
         float: right;
          color: black !important;
          -webkit-print-color-adjust: exact;
     }

     .section:last-child {
         margin-bottom: 0;
     }
   }

    .sidebar-wrapper {
        position: initial;
        width: 100%;
        -webkit-print-color-adjust: exact;
        min-height: auto;

        .profile-container {
           text-align: left;
           padding-left: 0;
        }

        .sidebar-info {
           display: flex;
           justify-content: space-between;

           .container-block {
              a[href]:after {
                 display: block;
                 font-size: 12px;
              }
           }

           .contact-container {
              order: 1;
              padding-right: 0;
           }

           .education-container {
               padding-left: 0;
           }
        }
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact;
    }

}